In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("Train.csv") # Train.csv
test = pd.read_csv("Test.csv") # Test.csv

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14016 entries, 0 to 14015
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        14016 non-null  object
 1   countryCode                               14016 non-null  int64
 2   year                                      14016 non-null  int64
 3   sex                                       14016 non-null  object
 4   agefrom                                   14016 non-null  int64
 5   ageto                                     14016 non-null  int64
 6   percentage_no_schooling                   14016 non-null  float64
 7   percentage_primary_schooling              14016 non-null  float64
 8   percentage_primary_schooling_completed    14016 non-null  float64
 9   percentage_secondary_schooling            14016 non-null  float64
 10  percentage_secondary_schooling_completed  14016 non-null  float64
 11  percentage_tertiary_schooling             14016 non-null  float64
 12  percentage_tertiary_schooling_completed   14016 non-null  float64
 13  yr_sch                                    14016 non-null  float64
 14  region_code                               14016 non-null  object
 15  literate_pop                              14016 non-null  float64
 16  target                                    14016 non-null  float64
dtypes: float64(10), int64(4), object(3)
memory usage: 1.8+ MB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1168 entries, 0 to 1167
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        1168 non-null   object
 1   countryCode                               1168 non-null   int64
 2   year                                      1168 non-null   int64
 3   sex                                       1168 non-null   object
 4   agefrom                                   1168 non-null   int64
 5   ageto                                     1168 non-null   int64
 6   percentage_no_schooling                   1168 non-null   float64
 7   percentage_primary_schooling              1168 non-null   float64
 8   percentage_primary_schooling_completed    1168 non-null   float64
 9   percentage_secondary_schooling            1168 non-null   float64
 10  percentage_secondary_schooling_completed  1168 non-null   float64
 11  percentage_tertiary_schooling             1168 non-null   float64
 12  percentage_tertiary_schooling_completed   1168 non-null   float64
 13  yr_sch                                    1168 non-null   float64
 14  region_code                               1168 non-null   object
 15  literate_pop                              1168 non-null   float64
dtypes: float64(9), int64(4), object(3)
memory usage: 146.1+ KB

In [5]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
countryCode,14016.0,112.212329,90.990390,1.000000,50.000000,91.500000,131.000000,3.580000e+02
year,14016.0,1977.500000,17.260878,1950.000000,1963.750000,1977.500000,1991.250000,2.005000e+03
agefrom,14016.0,20.000000,5.000178,15.000000,15.000000,20.000000,25.000000,2.500000e+01
ageto,14016.0,999.000000,0.000000,999.000000,999.000000,999.000000,999.000000,9.990000e+02
percentage_no_schooling,14016.0,35.058990,30.836316,0.003333,6.200000,26.387917,60.120833,1.000000e+02
percentage_primary_schooling,14016.0,35.081346,20.827921,0.000000,17.710000,34.035000,49.870000,9.438000e+01
percentage_primary_schooling_completed,14016.0,18.336662,14.543279,0.000000,6.830000,15.235000,26.315000,8.526667e+01
percentage_secondary_schooling,14016.0,24.148922,20.248127,0.000000,6.820000,19.150000,37.650833,9.394333e+01
percentage_secondary_schooling_completed,14016.0,12.448905,13.100393,0.000000,2.470000,7.640000,18.760000,7.726000e+01
percentage_tertiary_schooling,14016.0,5.708469,7.103030,0.000000,0.850000,2.980000,8.150000,5.729000e+01
percentage_tertiary_schooling_completed,14016.0,3.394752,4.263788,0.000000,0.450000,1.730000,4.750000,3.101000e+01
yr_sch,14016.0,5.035554,3.182527,0.000000,2.290000,4.740000,7.540000,1.328000e+01
literate_pop,14016.0,10282.932434,45039.965145,0.000000,305.000000,1391.000000,5393.750000,1.377328e+06
target,14016.0,64.819575,30.862859,0.000000,39.845469,73.493041,93.704484,1.000375e+02

In [6]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
countryCode,1168.0,112.212329,91.026119,1.00,50.000000,91.500000,131.000000,358.00
year,1168.0,2010.000000,0.000000,2010.00,2010.000000,2010.000000,2010.000000,2010.00
agefrom,1168.0,20.000000,5.002142,15.00,15.000000,20.000000,25.000000,25.00
ageto,1168.0,999.000000,0.000000,999.00,999.000000,999.000000,999.000000,999.00
percentage_no_schooling,1168.0,16.075576,20.187487,0.00,1.630000,6.347083,23.582500,87.12
percentage_primary_schooling,1168.0,25.075659,16.575323,0.03,11.185000,22.605000,36.911875,74.29
percentage_primary_schooling_completed,1168.0,15.217110,10.464575,0.02,6.764583,13.610000,21.415000,56.08
percentage_secondary_schooling,1168.0,45.109544,21.545591,1.05,28.262500,44.745000,60.895000,92.13
percentage_secondary_schooling_completed,1168.0,26.675677,16.698966,0.61,13.787500,23.980000,37.480000,75.83
percentage_tertiary_schooling,1168.0,13.741625,12.062772,0.00,3.699167,11.160000,20.122500,63.84
percentage_tertiary_schooling_completed,1168.0,8.346320,7.619497,0.00,1.917500,6.411250,12.703333,39.96
yr_sch,1168.0,8.194171,2.979299,0.79,5.955000,8.490000,10.707500,13.89
literate_pop,1168.0,21713.945205,88707.553843,21.00,1291.750000,3837.500000,12924.250000,1572220.00

In [7]:
train.head(3)

,ID,countryCode,year,sex,agefrom,ageto,percentage_no_schooling,percentage_primary_schooling,percentage_primary_schooling_completed,percentage_secondary_schooling,percentage_secondary_schooling_completed,percentage_tertiary_schooling,percentage_tertiary_schooling_completed,yr_sch,region_code,literate_pop,target
0,ID_00AMK8K,155,1990,MF,15,999,8.3900,26.270000,15.830000,58.570000,26.420000,6.770000,4.400000,8.540000,Latin America and the Caribbean,7435.0,91.609167
1,ID_00ANS9C,115,2005,MF,25,999,0.6325,6.980833,6.363333,77.683333,49.995833,14.700833,13.546667,11.631667,Europe and Central Asia,14350.0,99.362969
2,ID_00AQU1S,30,2000,M,15,999,68.5300,26.320000,16.020000,4.620000,2.320000,0.540000,0.310000,1.550000,Sub-Saharan Africa,1458.0,31.469890

In [8]:
test.head(3)

,ID,countryCode,year,sex,agefrom,ageto,percentage_no_schooling,percentage_primary_schooling,percentage_primary_schooling_completed,percentage_secondary_schooling,percentage_secondary_schooling_completed,percentage_tertiary_schooling,percentage_tertiary_schooling_completed,yr_sch,region_code,literate_pop
0,ID_00ILO0W,69,2010,MF,25,999,12.37,37.01,24.83,39.32,24.62,11.30,8.01,7.66,Latin America and the Caribbean,97760.0
1,ID_00KPO3Y,56,2010,M,15,999,16.77,54.94,24.52,28.27,13.55,0.03,0.02,5.32,Latin America and the Caribbean,3261.0
2,ID_00MLY2L,99,2010,M,25,999,11.60,30.36,17.55,44.61,25.21,13.43,9.16,8.27,Middle East and North Africa,6332.0

In [9]:
# "ID" variable of test dataset
unique_id = test["ID"]

In [10]:
# Dropping ID and ageto column from both the dataset
train1 = train.drop(["ID", "ageto"], axis='columns')
test1 = test.drop(["ID", "ageto"], axis='columns')

## Feature Engineering And Endoding

In [11]:
# train1['percentage_schooling'] = 100 - train1['percentage_no_schooling']
# test1['percentage_schooling'] = 100 - test1['percentage_no_schooling']

In [12]:
# train1['percentage_schooling_completed'] = (train1['percentage_primary_schooling_completed'] + train1['percentage_secondary_schooling_completed'] + train1['percentage_tertiary_schooling_completed'])
# test1['percentage_schooling_completed'] = (test1['percentage_primary_schooling_completed'] + test1['percentage_secondary_schooling_completed'] + test1['percentage_tertiary_schooling_completed'])

In [13]:
# train1['percentage_schooling_not_completed'] = 100 - train1['percentage_schooling_completed']
# test1['percentage_schooling_not_completed'] = 100 - test1['percentage_schooling_completed']

In [14]:
# Encoding categorical variables such as "sex" and "region_code" to 0 or 1 using get_dummies()
train2 = pd.get_dummies(train1, drop_first=True)
test2 = pd.get_dummies(test1, drop_first=True)

In [15]:
test2.columns

Index(['countryCode', 'year', 'agefrom', 'percentage_no_schooling',
       'percentage_primary_schooling',
       'percentage_primary_schooling_completed',
       'percentage_secondary_schooling',
       'percentage_secondary_schooling_completed',
       'percentage_tertiary_schooling',
       'percentage_tertiary_schooling_completed', 'yr_sch', 'literate_pop',
       'sex_M', 'sex_MF', 'region_code_East Asia and the Pacific',
       'region_code_Europe and Central Asia',
       'region_code_Latin America and the Caribbean',
       'region_code_Middle East and North Africa', 'region_code_South Asia',
       'region_code_Sub-Saharan Africa'],
      dtype='object')

## Modelling

In [16]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor

In [17]:
# Separating features and target varialbes as X and y
X = train2.drop('target', axis='columns')
y = train2.target

In [18]:
# Splitting the dat into training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.05, random_state=42)

In [19]:
## Scaling the data
# scaler = StandardScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_test_scaled = scaler.transform(X_test)
# test2_scaled = scaler.transform(test2)

### CatBoost Regressor

In [20]:
## CatBoost Regressor
cbr = CatBoostRegressor()
cbr.fit(X_train, y_train, verbose=False)
cbr_preds = cbr.predict(X_test)

# cbr.fit(X_train_scaled, y_train, verbose=False)
# cbr_preds = cbr.predict(X_test_scaled)

In [21]:
mean_absolute_error(y_test, cbr_preds)

0.21484211409568274

In [22]:
# Predicting values for test dataset
cbr_preds_test = cbr.predict(test2)

In [23]:
cbr_preds_test

array([87.69393912, 83.13415326, 88.41057111, ..., 96.61800363,
       96.36275741, 99.29120102])

In [24]:
# # Creating a submission dataframe
# cbr_submission = pd.DataFrame({"ID":unique_id,
#                                  "target": cbr_preds_test})

# # Saving the submission file
# cbr_submission.to_csv("submission_cbr.csv", index=False)

### LightGBM Regressor

In [25]:
lgbm = LGBMRegressor()
lgbm.fit(X_train, y_train)
lgbm_preds = cbr.predict(X_test)

# lgbm.fit(X_train_scaled, y_train)
# lgbm_preds = cbr.predict(X_test_scaled)

In [26]:
mean_absolute_error(y_test, lgbm_preds)

0.21484211409568274

In [27]:
# Predicting values for test dataset
lgbm_preds_test = lgbm.predict(test2)

In [28]:
# # Creating a submission dataframe
# submission = pd.DataFrame({"ID": unique_id,
#                           "target": lgbm_preds_test})

# # Saving the submission file
# submission.to_csv("submission_lgbm.csv", index=False)

## Random Forest

In [29]:
rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)
rf_preds = rf.predict(X_test)

# rf.fit(X_train_scaled, y_train)
# rf_preds_scaled = rf.predict(X_test_scaled)

In [30]:
mean_absolute_error(y_test, rf_preds)

0.08693867885541605

In [31]:
# Predicting value for test dataset
rf_preds_test = rf.predict(test2)

/home/sadkh/miniconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [32]:
# Creating a submission dataframe
submission = pd.DataFrame({"ID": unique_id,
                          "target":rf_preds_test})

# Saving the submission file
submission.to_csv("submission_ridge.csv", index=False)

### Model that gave the best result : RandomForestRegressor
### Submission_file_name: Submission_rigde.csv

## XGBoost Regressor

In [33]:
xgbr = XGBRegressor() 
xgbr.fit(X_train, y_train)
xgbr_preds = xgbr.predict(X_test)

In [34]:
mean_absolute_error(y_test, xgbr_preds)

0.12838175989742445

In [35]:
# Predicting values for test dataset
xgbr_preds_test = xgbr.predict(test2)

In [36]:
# # Creating a submission dataframe
# submission = pd.DataFrame({"ID": unique_id,
#                           "target": xgbr_preds_test})

# # Saving the submission file
# submission.to_csv("submission_xgbr.csv", index=False)

## GradientBoosting Regressor

In [37]:
gbr = GradientBoostingRegressor(n_estimators=500, max_depth=7)
gbr.fit(X_train, y_train)
gbr_preds = gbr.predict(X_test)

In [38]:
mean_absolute_error(y_test, gbr_preds)

0.0861086058207722

In [39]:
# Predicting values for test dataset
gbr_preds_test = gbr.predict(test2)

/home/sadkh/miniconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but GradientBoostingRegressor was fitted without feature names
  warnings.warn(

In [40]:
# # Creating a submission dataframe
# submission = pd.DataFrame({"ID": unique_id,
#                           "target": gbr_preds_test})

# # Saving the submission file
# submission.to_csv("gbr.csv", index=False)

## Ridge Regression

In [41]:
ridge = Ridge()
ridge.fit(X_train, y_train)
ridge_preds = ridge.predict(X_test)

In [42]:
mean_absolute_error(y_test, ridge_preds)

0.18078863056783434